BIZ_ID=
PLACE_NAME=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DAYS_AHEAD=14
# TIME_FROM=18:00
# TIME_TO=21:00
# WEEKDAYS=MON,WED,FRI
INTERVAL_SEC=180
NOTIFY_CLOSE=true
ERROR_ALERT_THRESHOLD=5
STATE_FILE=state.json
